body {
  height: 100vh;
  background-color: #ff7979;
  background-image: url(/public/images/bg-intro-desktop.png);
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  border-style: none;
  list-style: none;
}
